body{
    margin: 0;
    font-family:'Times New Roman' ;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.top-wrapper {
    padding-top: 180px;
    padding-bottom: 100px;
    color: black;
    background-image: url(hayasaka.jpeg);
    background-size:cover;
    text-align: center;
}

.top-wrapper h1{
    opacity: 0.9;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p{
    opacity: 0.8;
    margin-bottom: 3px;
    color: red;
    
}

.btn {
    padding: 12px 12px 24px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

.signup {
    background-color: #239b76;
    box-shadow: 0px 5px #0a4e3a;
    
}

.signup:active{
    box-shadow: none;
    position: relative;
    top: 5px;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
    box-shadow: 0px 5px #0d1424;
}

.twitter {
    background-color: #55acee;
    box-shadow: 0px 5px #235074;
}

.twitter:active{
    box-shadow: none;
    position: relative;
    top: 5px;
}

.facebook:active{
    position: relative;
    box-shadow: none;
    top: 5px;
}

.btn-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-wrapper p{
    margin-top: 10px;
    margin-bottom: 10px;

}

header{
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left{
    float: left;
}

.header-right :hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
}

.header-right{
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
}

.fb{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
    ;
}

.twit{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}

.mail{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.header-right a{
    line-height: 65px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    display: block;
}

.lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color:#5f5d60;
    line-height:0;
}

.heading h2{
    font-weight: normal;
}

.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
}

.message-wrapper{
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0px 7px #1a7940;
}

.heading h3{
    font-weight: normal;
}

.message:active{
    box-shadow: none;
    position: relative;
    top: 7px;
}

.container-footer img{
    width: 125px;
}

.container-footer p{
    color: #b3aeb5;
}

footer{
    padding-top: 30px;
}